<div class="main-container">
        <mat-form-field class="search-bar-container" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" name="search">
            <mat-icon color="primary" matSuffix>search</mat-icon>
        </mat-form-field>

    <div class="notes-list">
        <app-note-card title="testin" body="the body"></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
    </div>
</div>