/* Footer */
.footer{
    position: relative;
    background: #111;
    color: #f8333c;
    text-align: center;
    padding: .2em 0;
    font-size: 1.25rem;
    bottom: 0px;
  }
  
  footer p{
    font-size: 1rem;
  }
  .footer a {
    color: inherit;
    text-decoration: none;
  }
  
  .footer_link {
    font-weight: 700;
  }
  
  .footer_link:hover,
  .social-list_link:hover, .social-list_link2:hover{
    opacity: .7;
    transition: transform 200ms ease-in-out;
  }
  
  .footer_link:hover{
    text-decoration: underline;
    transition: transform 200ms ease-in-out;
  }
  
  .social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: none;
    padding: 0px;
  }
  
  .social-list_item{
    margin: 0 0.5em;
  }
  
  .social-list_link{
    padding: .5em;
  }
  