@import '../../../assets/customTheme.scss';

.form-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.form-field{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
} 

/* Form Buttons */
.buttons{
    display: block;
    float: right;
}

.buttons button{
    margin-right: 10px;
}

.buttons .saveBtn{
    background-color: var(--green);
    color: white;
}

.form-field textarea{
    height: 100px;
}

.form-field mat-label{
    font-size: 1.2rem;
}

.form-field input, textarea{
    font-size: 1.2rem;
}
